<%= form_with(model: writer, local: true) do |form| %>
  <% if writer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(writer.errors.count, "error") %> prohibited this writer from being saved:</h2>

      <ul>
      <% writer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :book %>
    <%= form.text_field :book, id: :writer_book %>
  </div>

  <div class="field">
    <%= form.label :author %>
    <%= form.text_area :author, id: :writer_author %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
